body {
    background-color: #281c57;
    color: #d6edf3;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
}

#id_pc1 {
    height: 10vw;
    position: relative;
    padding-top: 20vw;
}

#id_pc2 {
    height: 10vw;
    padding-left: 40vw;
    padding-top: 20vw;
}

#id_satelite {
    height: 8vw;
    padding: 2, 2;
}

#id_rj {
    height: 1vw;
    padding: 2, 2;
}

#id_coaxial {
    height: 2vw;
    padding: 2, 2;
}

#id_optica {
    height: 5vw;
    padding: 2, 2;
}

#id_router {
    height: 8vw;
    padding: 2, 2;
}

#cont_ambiente {
    height: 30vw;
}

#cont_rede div {
    display: inline-block;
}