body {
    background-color: #281c57;
    color: #d6edf3;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
}
*{
    margin: 0;
    padding: 0;
}

#cont_ambiente {
    height: 30vw;
    
}


#id_pc1 {
    position: absolute;
    padding-left: 10px;
    height: 10vw;
    float: left;
    padding-top: 20vw;
}

#id_pc2 {
    padding-right: 10px;
    height: 10vw;
    float: right;
    padding-top: 20vw;
}


#cont_rede div {
    display: inline-block;
    padding-left: 5px;
    padding-top: 5px; 
}
#id_satelite {
    height: 8vw;
    width: 15vw;
  
}

#id_rj {
    height: 1vw;
    width: 20vw;
   
}

#id_coaxial {
    height: 2vw;
    width: 20vw;
}

#id_optica {
    height: 5vw;
    width: 20vw;
}

#id_router {
    height: 8vw;
    width: 15vw;
}

#id_newsatelite{
    position: absolute;
    height: 8vw;
    width: 15vw;
    padding-left: 40vw;
    padding-top: 6vw;
}

#id_newrouter{
    position: absolute;
    height: 8vw;
    width: 15vw;
    padding-left: 40vw;
    padding-top: 6vw;
}

#id_newrj{
    position: absolute;
    height: 5vw;
    width: 55vw;
    padding-left: 22vw;
    padding-top: 25vw;
}
#id_newcoaxial{
    position: absolute;
    height: 5vw;
    width: 55vw;
    padding-left: 22vw;
    padding-top: 25vw;
}

#id_newoptica{
    position: absolute;
    height: 5vw;
    width: 55vw;
    padding-left: 22vw;
    padding-top: 25vw;
}
#id_imgPacote{
    position: absolute;
    height: 35px;
    width: 35px;
    padding-left: 20px;
    padding-top: 100px;
}

#button input{
	box-shadow:inset 0px -3px 7px 0px #7ad0f8;
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
    padding:9px 23px;
}
#btnIniciar{
    margin-left: 40%;
}