body {
    background-color: #281c57;
    color: #eff2f3;
    font-family: "Lucida Sans Unicode", "Lucida Grande", "sans-serif";
}
*{
    margin: 0;
    padding: 0;
}
#cont_body{
    padding: 2vw;

}
.titulo{
    text-align: center;
}

.textos{
	position: absolute;
	
}
#nao_toque{
	position:absolute;
	padding-top:29.5vw; 	
	padding-left:35vw;
	font-size: 0.5vw;
	color: #c2e0ff;
}
#cont_ambiente {
    height: 30vw;
    background-color: #86a4b3;
    border:2px solid #c2e0ec;
    font-family: 'Times New Roman', Times, serif;
}

#pacote_inicial{
	position: absolute;
	padding-left: 30vw;
	padding-top: 8vw;
	width: 30vw;
	
}

#id_pc1 {
    position: absolute;
    padding-left: 10px;
    height: 10vw;
    float: left;
    padding-top: 20vw;
}

#id_pc2 {
    padding-right: 10px;
    height: 10vw;
    float: right;
    padding-top: 20vw;
}
#cont_rede{
    background-color: #86a4b3;
    border:2px solid #c2e0ec;
    margin-top: 1vw;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#cont_rede div {
    display: inline-block;
    border:1px solid #000000;
    border-radius: 4px;
    align-content: center;
    margin: 2px;
    
}
.divrede{
    padding-top: 3.5vw;
    padding-bottom: 3.5vw;
}

.divoptica{
    padding-top: 1.5vw;
    padding-bottom: 1.5vw;
}
#id_satelite {
    height: 8vw;
    width: 15vw;
    box-sizing: border-box;
}

#id_rj {
    height: 8vw;
    width: 15vw;
   
}

#id_coaxial {
    height: 1vw;
    width: 20vw;
}

#id_optica {
    height: 5vw;
    width: 20vw;
}

#id_router {
    height: 8vw;
    width: 15vw;
}

#id_newsatelite{
    position: absolute;
    height: 8vw;
    width: 15vw;
    padding-left: 40vw;
    padding-top: 6vw;
}

#id_newrouter{
    position: absolute;
    height: 8vw;
    width: 15vw;
    padding-left: 40vw;
    padding-top: 6vw;
}

#id_newrj{
    position: absolute;
    height: 20vw;
    width: 65vw;
    padding-left: 15vw;
    padding-top: 10vw;
}
#id_newcoaxial{
    position: absolute;
    height: 5vw;
    width: 65vw;
    padding-left: 15vw;
    padding-top: 23vw;
}

#id_newoptica{
    position: absolute;
    height: 5vw;
    width: 65vw;
    padding-left: 15vw;
    padding-top: 23vw;
}
#id_imgPacote{
    position: absolute;
    height: 35px;
    width: 35px;
    padding-left: 5vw;
    padding-top: 20vw;
}

#button input{
	box-shadow:inset 0px -3px 7px 0px #7ad0f8;
	background-color:#2dabf9;
	border-radius:3px;
	border:1px solid #0b0e07;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
    padding:9px 23px;
    margin-top: 1vw;
}
#btnIniciar{
    margin-left: 40%;
}

#cont_legenda{
    background-color: #7e8d94;
    border:2px solid #c2e0ec;
    margin-top: 0.5vw;
    display: flex;
}
#cont_legenda h3{
    margin-left:5.5vw;
    margin-right:5.5vw;
}


